@using MVVMApp.ViewModels;
@page "/counter"
@rendermode InteractiveServer
@inject ClockViewModel ViewModel;

<PageTitle>Counter</PageTitle>


<h1>Reloj Digital con MVVM</h1>
<label>Nombre: </label>
<input @bind-value="ViewModel.Name"/>

<h2>@ViewModel.Name</h2>

<h2>@ViewModel.CurrentTime</h2>

@code{


    protected override void OnInitialized()
    {

        var timer = new System.Threading.Timer(t=>
        {
            InvokeAsync(() => StateHasChanged());    
        },null, 0 , 1000);
    }
}



